.search-form {
  width: 100%;

  padding: 1.5rem 0;
  z-index: 1;
  background-color: #292929;
  // margin: 0 auto;
}

.search-form .fixed {
  position: fixed;
  top: 0;

  right: 0;
}

.form__wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  width: 50rem;
}

input[type='text'] {
  padding: 0 1.3rem;

  height: 4rem;
  width: 45rem;

  font-size: 1.4rem;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  &:focus {
    outline: 1px solid rgb(251, 255, 0);
    outline-offset: -1px;
  }
}

button[type='submit'] {
  height: 4rem;
  width: 4rem;

  // position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  background-color: rgb(238, 216, 20);
  transition: background-color 0.3s ease-in;

  &:hover,
  &:focus {
    background-color: rgb(251, 255, 0);
  }
}

.form__icon {
  fill: #292929;
}
